NEXT_PUBLIC_DERIV_APP_ID=34yYmvMto9OabbxhKj2Rz
NEXT_PUBLIC_DERIV_REDIRECT_URI=https://chambe-forex-pulse-v2.vercel.app
NEXT_PUBLIC_DERIV_APP_NAME=Forex Pulse
NEXT_PUBLIC_DERIV_SHOW_APP_NAME=true
NEXT_PUBLIC_DERIV_REFERRAL_LINK=https://t.deriv.link?t=7VWTAVCN8423
NEXT_PUBLIC_DERIV_OAUTH_SCOPES=read,trade
NEXT_PUBLIC_DERIV_ENV=production
NEXT_PUBLIC_FONT_FAMILY=Poppins
